Latexfiles report/sourcecodenoderedSense-hat.txt
[
	{
	"id":"cea3db74.033b58",
	"type":"rpi-sensehat in",
	"z":"9a17ec04.2053b",
	"name":"",
	"motion":true,
	"env":false,
	"stick":false,
	"x":161,
	"y":568,
	"wires":[["895741e6.39515"]]
},
{	"id":"cc0acd30.06cb4",
	"type":"mqtt out",
	"z":"9a17ec04.2053b",
	"name":"",
	"topic":"/iot-lab/wheel/sensehat",
	"qos":"",
	"retain":"",
	"broker":"b92f24c5.1363a8",
	"x":648,
	"y":644.7299957275391,
	"wires":[]
},
{
	"id":"e5093072.7baa",
	"type":"debug",
	"z":"9a17ec04.2053b",
	"name":"",
	"active":true,
	"console":"false",
	"complete":"payload",
	"x":586,
	"y":544,"wires":[]
},
{	"id":"895741e6.39515",
	"type":"function",
	"z":"9a17ec04.2053b",
	"name":"timestamp",
	"func":"//var now = new Date().toString();\nmsg.payload=JSON.stringify(msg.payload)+ \"-\" +new Date().toString();\n//var msg2 = {payload:\"timestampe:\" +now.valueOf()};\n//var msg3=msg2+msg;\nreturn msg;",
	"outputs":1,
	"noerr":0,
	"x":371,
	"y":702,
	"wires":[["e5093072.7baa",
		"cc0acd30.06cb4",
		"77e00dac.6f9ba4"]]},
{
	"id":"77e00dac.6f9ba4",
	"type":"mqtt out",
	"z":"9a17ec04.2053b",
	"name":"",
	"topic":"/iot-lab/wheel/sensehat",
	"qos":"2",
	"retain":"false",
	"broker":"f20d6ed5.d2c62",
	"x":583,"y":824,
	"wires":[]},
{
	"id":"b92f24c5.1363a8",
	"type":"mqtt-broker",
	"z":"",
	"broker":"iot.eclipse.org",
	"port":"1883",
	"clientid":"",
	"usetls":false,
	"compatmode":true,
	"keepalive":"60",
	"cleansession":true,
	"willTopic":"",
	"willQos":"0",
	"willPayload":"",
	"birthTopic":"","
	birthQos":"0","
	birthPayload":""},
	{"id":"f20d6ed5.d2c62",
	"type":"mqtt-broker",
	"z":"",
	"broker":"10.24.3.66",
	"port":"1883",
	"clientid":"",
	"usetls":false,
	"compatmode":true,
	"keepalive":"60",
	"cleansession":true,
	"willTopic":"",
	"willQos":"0",
	"willPayload":"",
	"birthTopic":"",
	"birthQos":"0",
	"birthPayload":""}]